In [17]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

# ignore all FutureWarnings
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [18]:
datos_procesados = pd.read_csv('merged_data.csv')
datos_procesados.head()

,Unnamed: 0,Entity,Code,Year,Schizophrenia (%),Bipolar disorder (%),Eating disorders (%),Anxiety disorders (%),Drug use disorders (%),Depression (%),...,20-24 years old (%),10-14 years old (%),All ages (%),70+ years old (%),30-34 years old (%),15-19 years old (%),25-29 years old (%),50-69 years old (%),Age-standardized (%),15-49 years old (%)
0,0,Afghanistan,AFG,1990,0.160560,0.697779,0.101855,4.828830,1.677082,4.071831,...,4.417802,1.594676,3.218871,5.202803,5.799034,3.455708,5.175856,5.917752,4.071831,4.939766
1,1,Afghanistan,AFG,1991,0.160312,0.697961,0.099313,4.829740,1.684746,4.079531,...,4.433524,1.588356,3.203468,5.192849,5.814828,3.451880,5.176729,5.927093,4.079531,4.902682
2,2,Afghanistan,AFG,1992,0.160135,0.698107,0.096692,4.831108,1.694334,4.088358,...,4.453689,1.577980,3.156559,5.176872,5.829745,3.434982,5.160249,5.945656,4.088358,4.837097
3,3,Afghanistan,AFG,1993,0.160037,0.698257,0.094336,4.830864,1.705320,4.096190,...,4.464517,1.577201,3.120655,5.167355,5.853060,3.420210,5.148767,5.966915,4.096190,4.813657
4,4,Afghanistan,AFG,1994,0.160022,0.698469,0.092439,4.829423,1.716069,4.099582,...,4.462960,1.570846,3.082179,5.157549,5.852851,3.425222,5.148227,5.975907,4.099582,4.839340

In [19]:
qualitative_columns = ['Entity', 'Code']

In [20]:
from sklearn.preprocessing import LabelEncoder, OrdinalEncoder

datos_procesados_ecoding = pd.get_dummies(datos_procesados, columns=qualitative_columns)
datos_procesados_ecoding

,Unnamed: 0,Year,Schizophrenia (%),Bipolar disorder (%),Eating disorders (%),Anxiety disorders (%),Drug use disorders (%),Depression (%),Alcohol use disorders (%),Prevalence in males (%),...,Code_VCT,Code_VEN,Code_VIR,Code_VNM,Code_VUT,Code_WSM,Code_YEM,Code_ZAF,Code_ZMB,Code_ZWE
0,0,1990,0.160560,0.697779,0.101855,4.828830,1.677082,4.071831,0.672404,3.499982,...,False,False,False,False,False,False,False,False,False,False
1,1,1991,0.160312,0.697961,0.099313,4.829740,1.684746,4.079531,0.671768,3.503947,...,False,False,False,False,False,False,False,False,False,False
2,2,1992,0.160135,0.698107,0.096692,4.831108,1.694334,4.088358,0.670644,3.508912,...,False,False,False,False,False,False,False,False,False,False
3,3,1993,0.160037,0.698257,0.094336,4.830864,1.705320,4.096190,0.669738,3.513429,...,False,False,False,False,False,False,False,False,False,False
4,4,1994,0.160022,0.698469,0.092439,4.829423,1.716069,4.099582,0.669260,3.515578,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5483,5483,2013,0.155670,0.607993,0.117248,3.090168,0.766280,3.128192,1.515641,2.769193,...,False,False,False,False,False,False,False,False,False,True
5484,5484,2014,0.155993,0.608610,0.118073,3.093964,0.768914,3.140290,1.515470,2.778101,...,False,False,False,False,False,False,False,False,False,True
5485,5485,2015,0.156465,0.609363,0.119470,3.098687,0.771802,3.155710,1.514751,2.789152,...,False,False,False,False,False,False,False,False,False,True
5486,5486,2016,0.157111,0.610234,0.121456,3.104294,0.772275,3.174134,1.513269,2.799308,...,False,False,False,False,False,False,False,False,False,True
5487,5487,2017,0.157963,0.611242,0.124443,3.110926,0.772648,3.192789,1.510943,2.812022,...,False,False,False,False,False,False,False,False,False,True

In [21]:
#standar scaler
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
datos_procesados_ecoding_scaled = datos_procesados_ecoding.copy()
datos_procesados_ecoding_scaled['Year'] = scaler.fit_transform(datos_procesados_ecoding_scaled[['Year']])

datos_procesados_ecoding_scaled

,Unnamed: 0,Year,Schizophrenia (%),Bipolar disorder (%),Eating disorders (%),Anxiety disorders (%),Drug use disorders (%),Depression (%),Alcohol use disorders (%),Prevalence in males (%),...,Code_VCT,Code_VEN,Code_VIR,Code_VNM,Code_VUT,Code_WSM,Code_YEM,Code_ZAF,Code_ZMB,Code_ZWE
0,0,-1.671258,0.160560,0.697779,0.101855,4.828830,1.677082,4.071831,0.672404,3.499982,...,False,False,False,False,False,False,False,False,False,False
1,1,-1.547461,0.160312,0.697961,0.099313,4.829740,1.684746,4.079531,0.671768,3.503947,...,False,False,False,False,False,False,False,False,False,False
2,2,-1.423664,0.160135,0.698107,0.096692,4.831108,1.694334,4.088358,0.670644,3.508912,...,False,False,False,False,False,False,False,False,False,False
3,3,-1.299867,0.160037,0.698257,0.094336,4.830864,1.705320,4.096190,0.669738,3.513429,...,False,False,False,False,False,False,False,False,False,False
4,4,-1.176070,0.160022,0.698469,0.092439,4.829423,1.716069,4.099582,0.669260,3.515578,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5483,5483,1.176070,0.155670,0.607993,0.117248,3.090168,0.766280,3.128192,1.515641,2.769193,...,False,False,False,False,False,False,False,False,False,True
5484,5484,1.299867,0.155993,0.608610,0.118073,3.093964,0.768914,3.140290,1.515470,2.778101,...,False,False,False,False,False,False,False,False,False,True
5485,5485,1.423664,0.156465,0.609363,0.119470,3.098687,0.771802,3.155710,1.514751,2.789152,...,False,False,False,False,False,False,False,False,False,True
5486,5486,1.547461,0.157111,0.610234,0.121456,3.104294,0.772275,3.174134,1.513269,2.799308,...,False,False,False,False,False,False,False,False,False,True
5487,5487,1.671258,0.157963,0.611242,0.124443,3.110926,0.772648,3.192789,1.510943,2.812022,...,False,False,False,False,False,False,False,False,False,True

In [22]:
from sklearn.cluster import KMeans
from sklearn import metrics
from sklearn.metrics import silhouette_samples, silhouette_score

In [23]:
#aplicacion coeficiente de silueta
range_n_clusters = list (range(2,10))
for n_clusters in range_n_clusters:
    clusterer = KMeans(n_clusters=n_clusters, random_state=10)
    cluster_labels = clusterer.fit_predict(datos_procesados_ecoding)
    silhouette_avg = silhouette_score(datos_procesados_ecoding, cluster_labels)
    print("For n_clusters =", n_clusters,
          "The average silhouette_score is :", silhouette_avg) 
    for cluster in range(0, n_clusters):
        cluster_silhouette_values = silhouette_samples(datos_procesados_ecoding, cluster_labels)
        print("    Cluster ", cluster, ":", np.mean(cluster_silhouette_values))

For n_clusters = 2 The average silhouette_score is : 0.990636024417179
    Cluster  0 : 0.990636024417179
    Cluster  1 : 0.990636024417179
For n_clusters = 3 The average silhouette_score is : 0.9723169125703224
    Cluster  0 : 0.9723169125703224
    Cluster  1 : 0.9723169125703224
    Cluster  2 : 0.9723169125703224
For n_clusters = 4 The average silhouette_score is : 0.9710444087975618
    Cluster  0 : 0.9710444087975618
    Cluster  1 : 0.9710444087975618
    Cluster  2 : 0.9710444087975618
    Cluster  3 : 0.9710444087975618
For n_clusters = 5 The average silhouette_score is : 0.8497381806812192
    Cluster  0 : 0.8497381806812192
    Cluster  1 : 0.8497381806812192
    Cluster  2 : 0.8497381806812192
    Cluster  3 : 0.8497381806812192
    Cluster  4 : 0.8497381806812192
For n_clusters = 6 The average silhouette_score is : 0.8494792073847675
    Cluster  0 : 0.8494792073847675
    Cluster  1 : 0.8494792073847675
    Cluster  2 : 0.8494792073847675
    Cluster  3 : 0.8494792073847675
    Cluster  4 : 0.8494792073847675
    Cluster  5 : 0.8494792073847675
For n_clusters = 7 The average silhouette_score is : 0.7673547570788427
    Cluster  0 : 0.7673547570788427
    Cluster  1 : 0.7673547570788427
    Cluster  2 : 0.7673547570788427
    Cluster  3 : 0.7673547570788427
    Cluster  4 : 0.7673547570788427
    Cluster  5 : 0.7673547570788427
    Cluster  6 : 0.7673547570788427
For n_clusters = 8 The average silhouette_score is : 0.7656162140439401
    Cluster  0 : 0.7656162140439401
    Cluster  1 : 0.7656162140439401
    Cluster  2 : 0.7656162140439401
    Cluster  3 : 0.7656162140439401
    Cluster  4 : 0.7656162140439401
    Cluster  5 : 0.7656162140439401
    Cluster  6 : 0.7656162140439401
    Cluster  7 : 0.7656162140439401
For n_clusters = 9 The average silhouette_score is : 0.7654072048700832
    Cluster  0 : 0.7654072048700832
    Cluster  1 : 0.7654072048700832
    Cluster  2 : 0.7654072048700832
    Cluster  3 : 0.7654072048700832
    Cluster  4 : 0.7654072048700832
    Cluster  5 : 0.7654072048700832
    Cluster  6 : 0.7654072048700832
    Cluster  7 : 0.7654072048700832
    Cluster  8 : 0.7654072048700832

### Representación del codo para el k óptimo

In [24]:
#representación del codo
from kneed import KneeLocator
kmeans_kwargs = {
    "init": "random",
    "n_init": 10,
    "max_iter": 300,
    "random_state": 42,
}

# Creamos una lista para almacenar los valores de WCSS

wcss = []

for i in range(1, 11):
    kmeans = KMeans(n_clusters=i, **kmeans_kwargs)
    kmeans.fit(datos_procesados_ecoding)
    wcss.append(kmeans.inertia_)

plt.figure(figsize=(10,5))
plt.plot(range(1, 11), wcss, marker='o', linestyle='--')

plt.title('Elbow Method')
plt.xlabel('Number of clusters')
plt.ylabel('WCSS')
plt.show()

C:\Users\marka\AppData\Local\Temp\ipykernel_215416\3741248093.py:25: UserWarning: FigureCanvasAgg is non-interactive, and thus cannot be shown
  plt.show()

### Clustering con K-means

In [25]:
from sklearn.cluster import KMeans

kmeans = KMeans(n_clusters=3, random_state=0)
kmeans.fit(datos_procesados_ecoding)

clusters_identificados = kmeans.predict(datos_procesados_ecoding)

In [26]:
datos_con_clusters = datos_procesados_ecoding.copy()
datos_con_clusters['Cluster'] = clusters_identificados
datos_con_clusters.head()

,Unnamed: 0,Year,Schizophrenia (%),Bipolar disorder (%),Eating disorders (%),Anxiety disorders (%),Drug use disorders (%),Depression (%),Alcohol use disorders (%),Prevalence in males (%),...,Code_VEN,Code_VIR,Code_VNM,Code_VUT,Code_WSM,Code_YEM,Code_ZAF,Code_ZMB,Code_ZWE,Cluster
0,0,1990,0.160560,0.697779,0.101855,4.828830,1.677082,4.071831,0.672404,3.499982,...,False,False,False,False,False,False,False,False,False,0
1,1,1991,0.160312,0.697961,0.099313,4.829740,1.684746,4.079531,0.671768,3.503947,...,False,False,False,False,False,False,False,False,False,0
2,2,1992,0.160135,0.698107,0.096692,4.831108,1.694334,4.088358,0.670644,3.508912,...,False,False,False,False,False,False,False,False,False,0
3,3,1993,0.160037,0.698257,0.094336,4.830864,1.705320,4.096190,0.669738,3.513429,...,False,False,False,False,False,False,False,False,False,0
4,4,1994,0.160022,0.698469,0.092439,4.829423,1.716069,4.099582,0.669260,3.515578,...,False,False,False,False,False,False,False,False,False,0

In [27]:
datos_cluster_0 = datos_con_clusters[datos_con_clusters['Cluster'] == 0]
datos_cluster_1 = datos_con_clusters[datos_con_clusters['Cluster'] == 1]
datos_cluster_2 = datos_con_clusters[datos_con_clusters['Cluster'] == 2]

print(f"Datos en el cluster 0: {datos_cluster_0.shape[0]}\nDatos en el cluster 1: {datos_cluster_1.shape[0]}\nDatos en el cluster 2: {datos_cluster_2.shape[0]}")

Datos en el cluster 0: 5404
Datos en el cluster 1: 28
Datos en el cluster 2: 56

In [28]:
datos_cluster_0.head()

,Unnamed: 0,Year,Schizophrenia (%),Bipolar disorder (%),Eating disorders (%),Anxiety disorders (%),Drug use disorders (%),Depression (%),Alcohol use disorders (%),Prevalence in males (%),...,Code_VEN,Code_VIR,Code_VNM,Code_VUT,Code_WSM,Code_YEM,Code_ZAF,Code_ZMB,Code_ZWE,Cluster
0,0,1990,0.160560,0.697779,0.101855,4.828830,1.677082,4.071831,0.672404,3.499982,...,False,False,False,False,False,False,False,False,False,0
1,1,1991,0.160312,0.697961,0.099313,4.829740,1.684746,4.079531,0.671768,3.503947,...,False,False,False,False,False,False,False,False,False,0
2,2,1992,0.160135,0.698107,0.096692,4.831108,1.694334,4.088358,0.670644,3.508912,...,False,False,False,False,False,False,False,False,False,0
3,3,1993,0.160037,0.698257,0.094336,4.830864,1.705320,4.096190,0.669738,3.513429,...,False,False,False,False,False,False,False,False,False,0
4,4,1994,0.160022,0.698469,0.092439,4.829423,1.716069,4.099582,0.669260,3.515578,...,False,False,False,False,False,False,False,False,False,0

In [29]:
datos_cluster_1.head()

,Unnamed: 0,Year,Schizophrenia (%),Bipolar disorder (%),Eating disorders (%),Anxiety disorders (%),Drug use disorders (%),Depression (%),Alcohol use disorders (%),Prevalence in males (%),...,Code_VEN,Code_VIR,Code_VNM,Code_VUT,Code_WSM,Code_YEM,Code_ZAF,Code_ZMB,Code_ZWE,Cluster
5376,5376,1990,0.253503,0.585743,0.177865,3.774653,0.900850,3.541656,1.438494,2.741715,...,False,False,False,False,False,False,False,False,False,1
5377,5377,1991,0.253542,0.585990,0.178034,3.772760,0.900952,3.545953,1.444019,2.747003,...,False,False,False,False,False,False,False,False,False,1
5378,5378,1992,0.253580,0.586309,0.178218,3.771018,0.901787,3.549090,1.449593,2.751733,...,False,False,False,False,False,False,False,False,False,1
5379,5379,1993,0.253643,0.586637,0.178419,3.769860,0.903045,3.550657,1.454155,2.755950,...,False,False,False,False,False,False,False,False,False,1
5380,5380,1994,0.253700,0.586930,0.178688,3.769128,0.904346,3.550852,1.457587,2.759427,...,False,False,False,False,False,False,False,False,False,1

In [30]:
datos_cluster_2.head()

,Unnamed: 0,Year,Schizophrenia (%),Bipolar disorder (%),Eating disorders (%),Anxiety disorders (%),Drug use disorders (%),Depression (%),Alcohol use disorders (%),Prevalence in males (%),...,Code_VEN,Code_VIR,Code_VNM,Code_VUT,Code_WSM,Code_YEM,Code_ZAF,Code_ZMB,Code_ZWE,Cluster
1036,1036,1990,0.318924,0.314535,0.085918,3.128626,1.147397,3.573966,0.981807,2.674116,...,False,False,False,False,False,False,False,False,False,2
1037,1037,1991,0.319391,0.314987,0.087021,3.132286,1.155388,3.572288,1.006175,2.682025,...,False,False,False,False,False,False,False,False,False,2
1038,1038,1992,0.319878,0.315466,0.088183,3.137312,1.161280,3.568730,1.030312,2.688792,...,False,False,False,False,False,False,False,False,False,2
1039,1039,1993,0.320381,0.315961,0.089405,3.143258,1.165176,3.562113,1.052846,2.692819,...,False,False,False,False,False,False,False,False,False,2
1040,1040,1994,0.320883,0.316452,0.090790,3.149544,1.167726,3.551869,1.072373,2.693938,...,False,False,False,False,False,False,False,False,False,2

#### Profilers